*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box{
    width: 80%;
    min-height: 100px;
    border: 1px solid #000;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(184, 204, 235);
}
.form-data
{
    width: 100%;
    min-height: 100px;
    padding: 10px;

}

.form-data h2{
text-align: center;
font-size: 32px;
font-weight: 100;

}
.form-data table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.form-data table,
td,
tr {
  border: none;
  padding: 7px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  width: 60%;
  padding: 8px;
}
.validation {
    color: red;
    font-style: italic;
    font-size: 15px;
  }
  .lable-rigth{
    text-align: rigth;
  }
  select{
    width: 60%;
    padding: 8px;

  }
  #add{
    width: 60%;
    padding: 5px;

  }
  #btn_register {
    width: 150px;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
  }
  #btn_clear {
    width: 150px;
    padding: 10px 20px;
    background-color: tomato;
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }