*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    width: 70%;
    min-height: 100px;
    margin: auto;
    margin-top: 40px;
    border: 2px solid black;
}
.form-data h2,p,h6{
    text-align: center;
   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 20%;

}
.box table{
    margin: auto;
    padding-top: 10px;
    width: 100%;
}
 th[class="head"]
 {
    
}
.box table, td,tr {
  
  padding: 7px;
  border-color: 2px solidblack;
}
